<div class="backround">

<div class="container">
    <form class="login" #form="ngForm" (ngSubmit)="login(form)">

        
            <h2>Login</h2>

            <p class="email">
                <label for="email"></label>
                <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" ngModel #inputEmail="ngModel" required [appEmail]="[inputEmail.value]">
            </p>

            <ng-container *ngIf="inputEmail.touched">
                <p class="error" *ngIf="inputEmail.errors?.['required']">
                    Email is required!
                </p>
    
                <p *ngIf="inputEmail.errors?.['emailValidator']" class="error">
                    Email is not valid!
                </p>
            </ng-container>
            

            <p class="password"  autocomplete="off">
                <label for="password"><span><i class="fas fa-lock"></i></span></label>
                <input type="password" name="password" id="password" placeholder="******" ngModel #inputPassword="ngModel" required minlength="6">
            </p>


            <ng-container *ngIf="inputPassword.touched">
                <p class="error" *ngIf="inputPassword.errors?.['required']">
                    Password is required!
                </p>
                <p class="error" *ngIf="inputPassword.errors?.['minlength']">
                    Password must be at least 6 characters!
                </p>
                <p class="error" *ngIf="message.length>0">
                   Invalid email or password!
                </p>
            </ng-container>

    
            <button [disabled]="form.invalid">Login</button>

            <p class="text-center">
                Dont have an account?
                <a routerLink="/register">Register</a>
            </p>

        
    </form>
</div>

</div>