form{
text-align: center;
background-image:url('../../../assets/delete2.png');
    background-repeat: no-repeat;
    background-position:top;
    height: 800px;
    padding: 50px 40px 0px 40px ;
    background-size: 100%
}

form button{
    background-color:rgb(255, 0, 0) ;
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 60px;
    border-radius: 15px;
    margin-right: 30px;
}

form a{
    background-color:rgb(49, 49, 49) ;
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 20px 20px 20px 20px;
    margin-top: 60px;
    border-radius: 15px;
}

form h1{
    margin-top: 120px;
}

