footer{
    display: flex;
    padding: 60px 20px 20px 20px;
    justify-content: space-evenly;
    background-color: rgb(65, 65, 65);
    color:  rgb(216, 187, 84);
    position: absolute;
    bottom: 0;
    width: 100%;
}
  

footer p{
margin-bottom: 40px;
}