<div class="container">


    <h1>Listings</h1>

    <div *ngIf="items?.length==0">
        <h1 class="noitems" >There are still no listings added</h1>

    </div>

    <div class="listings">
        <section *ngFor="let item of items">
            <div>
                <h2>{{item.title}}</h2>

                <img src={{item.image}} alt="">
            </div>
            

            <div>
                <p class="price">Price:{{item.price}} {{item.currency}}</p>
                <a [routerLink]="item._id"  >   View   </a>

                
            </div>
            

        </section>

    </div>
</div>


