
<div class="separator">
    
</div>
<article class="firstArticle">
   
    <p class="title">Welcome to Tradetrove – Your Gateway to sell your items!</p>


    <div class="wrapper">
        <p class="discr"> 
            Discover endless possibilities with Tradetrove – the premier platform <br>
            for buying, selling, and trading online. Explore diverse listings, from <br>
            electronics to fashion. Join our community today and start trading with ease!"
        </p>


        <div class="sell" *ngIf="!isLoggedIn"> 
        <h1>
            Start selling and buying now!
        </h1>

        <div class="btn">
            <a routerLink="/register">Register</a>
        </div>
        </div>

        <div class="sell" *ngIf="isLoggedIn"> 
            <h1>
                Sell your items now!
            </h1>
    
            <div class="btn">
                <a routerLink="/add-item">Add item</a>
            </div>
            </div>

       
    </div>
   

</article>
<div class="separator">
    .
</div>
<article class="text">

    <div>
        <p>Discover a world of endless possibilities with Tradetrove, the ultimate platform for buying, 
            selling, and trading goods online. Whether you're searching for that perfect item or looking to
            declutter your space, Tradetrove offers a streamlined and secure marketplace where you can connect with
             buyers and sellers from around the globe. 

             Explore our diverse range of listings, from electronics and 
                fashion to home decor and collectibles.With our user-friendly interface and robust search features, 
                finding exactly what you need has never been easier. Join our community of savvy traders today and unlock 
                the potential of your possessions. Start browsing now and embark on your trading journey with Tradetrove!"</p>

    </div>
</article>
<div class="separator">
    .
</div>
<article class="listingcontainer">
    <h2 class="listingstitle">Most Recent Items </h2>
    <div class="listings">
        <section *ngFor="let item of items">
            <div>
             

                <img src={{item.image}} alt="">
                <h2>{{item.title}}</h2>
            </div>
            

            <div>
                <p class="price">Price:{{item.price}} {{item.currency}}</p>
                <a routerLink="/listings/{{item._id}}">   View   </a>

                
            </div>
            

        </section>

    </div>
   
</article>

<div class="separator">
    .
</div>



