

<article>
    <p class="title">Welcome to Tradetrove – Your Gateway to Seamless Trading!</p>


    <div class="wrapper">
        <p class="discr"> 
            Discover endless possibilities with Tradetrove – the premier platform <br>
            for buying, selling, and trading online. Explore diverse listings, from <br>
            electronics to fashion. Join our community today and start trading with ease!"
        </p>


        <div class="sell"> 
        <h1>
            Start selling and buying now!
        </h1>

        <div class="btn">
            <a routerLink="/register">Register</a>
        </div>
       
    
    
         </div>

       
    </div>
   

</article>


<article class="text">

    <p>Discover a world of endless possibilities with Tradetrove, the ultimate platform for buying, <br>
        selling, and trading goods online. Whether you're searching for that perfect item or looking to <br>
        declutter your space, Tradetrove offers a streamlined and secure marketplace where you can connect with<br>
         buyers and sellers from around the globe. Explore our diverse range of listings, from electronics and <br>
         fashion to home decor and collectibles. With our user-friendly interface and robust search features, <br>
         finding exactly what you need has never been easier. Join our community of savvy traders today and unlock <br>
         the potential of your possessions. Start browsing now and embark on your trading journey with Tradetrove!"<br>
        
        Feel free to customize this text to better fit the tone and style of your website and the preferences of your target audience.</p>
</article>
