h1{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container2{
    display: flex;
    justify-content: space-between;

}


p{
    max-width: 600px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-top: 150px;
}

img{
    background-color:rgb(216, 187, 84) ;
    padding: 40px 40px 40px 40px;
    border-radius: 15px;
    height: 500px;
    margin-bottom: 40px;
}