h1{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image:url('../../../assets/bgrnd.jpg');
    background-repeat: no-repeat;
    background-position:center;
    height: 980px;
}

.container2{
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
}

.container4 a{
    margin-bottom: 100px;
    margin-right: 50px;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;

}

.container4{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.container h1{
background-color:rgb(216, 187, 84);
padding: 10px 10px 10px 10px ;
border-radius: 15px;
}
p{
    max-width: 600px;
    margin-bottom: 60px;
    margin-left: 40px;
    margin-top: 150px;
}

.img{
    background-color:rgb(216, 187, 84) ;
    padding: 40px 40px 40px 40px;
    border-radius: 15px;
    height: 500px;
    margin-bottom: 40px;
}

.image{
    height: 430px;
    border-radius: 15px
}

.edit{
background-color: black;
color: white;
}
.edit:hover{
background-color: white;
color: black;
}
.delete{
    background-color: rgb(103, 5, 5);
    color: white;
}
.delete:hover{
    background-color: white;
    color:  rgb(103, 5, 5);
}