
<div class="container">
    <h1>{{item.title}}</h1>


    <div class="container2">
        <div class="img">
            <img class="image" src={{item.image}} alt="">

        </div>
        
        <div class="container3">
            <p>{{item.text}}</p>
        
            <p>Price: {{item.price}} {{item.currency}}</p>
        </div>

    </div>

    <div *ngIf="profileDetails?._id == itemUserId" class="container4">
        <a routerLink="/listings/{{item._id}}/edit">Edit</a>
        <a routerLink="/listings/{{item._id}}/delete">Delete</a>
    </div>
    


</div>
