div{
    text-align: center;
    display:block;
    height: 730px;
    padding-top: 200px;
    text-align: center;
    background-image:url('../../assets/404.png');
    background-repeat: no-repeat;
    background-position:center;
}

h1{
    font-size: 40px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
}